.wrapper {
  width: 100vw;
  display: grid;
  place-items: center;
}
.container {
  width: 100%;
  background-color: aliceblue;
  position: relative;
}
.contents {
  padding: 40px;
  padding-top: 0;
  position: absolute;
  top: 70px;
  width: 100%;

  .title {
    margin-top: 40px;
  }
}
