$white: #f5f5f1;
$red: #b81d24;
$black: #221f1f;

.wrapper {
  width: 100vw;
  display: grid;
  place-items: center;
  .container {
    width: 100%;
    //   background-color: aliceblue;
    position: relative;
    .contents {
      padding: 0 0 40px 80px;

      position: absolute;
      top: 70px;
      width: 100%;
      background-color: $black;
      overflow: hidden;

      .title {
        margin-top: 40px;
        color: $white;

        div {
          margin: 10px 0;
          font-size: 30px;

          .seeAll {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
