$white: #f5f5f1;
$red: #b81d24;
$black: #221f1f;

.wrapper {
  width: 100vw;
  display: grid;
  place-items: center;
  .container {
    width: 100%;
    background-color: $black;
    .contents {
      max-width: 1440px;
      padding: 70px 0 40px 80px;
      width: 100%;
      overflow: hidden;
      .title {
        margin-top: 40px;
        color: $white;

        div {
          margin: 10px 0;
          font-size: 30px;

          .seeAll {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 200px;
    background-color: $white;
    text-align: center;
    line-height: 200px;
  }
}
